$mediaWidthLaptop: 992px;
$mediaWidthTablet: 991px;
$mediaWidthPhone: 575px;

$container-width: 1160px;
$color-black: #000;
$color-red: #EB0028;
$color-grey92: #929292; //$color-grey
$color-grey96: #969696; //150
$color-grey9b: #9B9B9B; //155
$color-greyd7: #D7D7D7; //215
$color-greye9: #E9E9E9; //233
$font: 'Roboto', sans-serif;
$size-default: 16;